<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>西安交通大学荣誉墙</title>
{% load static %}
<!-- Bootstrap -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{#<link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">#}
<link href="{% static 'css/dataTables.bootstrap.css' %}" rel="stylesheet">




</head>
<body>
    
 <!-- 导航栏 反色(底部黑字体白) 固定在顶部  过窄的时候折叠不可见(设定bodypadding-top为70px了) -->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse">
        <div class="container">
            <!-- navbar-header内部放置<a>标签 -->
            <div class="navbar-header">
                <a class="navbar-brand" href=".../"> <img src="/Users/mac/Desktop/前端练习/大作业/视觉4/picture_suilin/4.jpg" alt="这里是图片" style="width:40px;height:30px;margin-top:-4px"></a>
                <a class="navbar-brand" href="#">荣誉墙</a>
                <!--按钮小于768px时才会显示  -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-nav" aria-expanded="false" aria-controls="navbar-nav">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar-nav" class="navbar-collapse collapse">
                {% ifequal user_type -1 %}
                <!-- 登录前 -->
                  <form class="navbar-form navbar-right">
                      <div class="form-group">
                        <label class="control-label sr-only" ></label>
                        <a  class="btn btn-success nav-btn" href="{% url 'login' %}">学生登录</a>
                        <a  class="btn btn-success nav-btn" >教师登录</a>
                      </div>
                  </form>
                {% endifequal %}
                <!-- 登陆后 -->

                {% ifequal user_type 0 %}
                    <!--学生登录后  -->
                        <form  class="navbar-form navbar-right">
                            <div class="form-group">
                                <div>
                                    <!-- 用户登陆后用户名信息 -->
                                    <a class="navbar-brand "><img class="img-responsive img-circle center-block" style="position:relative;top:-14px;width: 34px;height: 34px;" src="{% static 'img/my_photo2.jpg' %}" alt="图标"/></a>
                                    <a class="label">{{ username }}</a>
                                    <a class="btn btn-info nav-btn" href="{% url 'student_center' %}">个人中心</a>
                                    <a class="btn btn-info nav-btn" href="{% url 'student_center_honor' %}">我的荣誉</a>
                                    <a class="btn btn-danger nav-btn" href="{% url 'logout' %}">注销</a>
                                </div>
                            </div>
                        </form>


                {% endifequal %}
            {% ifequal user_type 1 %}
                <!--老师登陆后  -->
                        <form  class="navbar-form navbar-right">
                            <div class="form-group">
                                <div>
                                    <!-- 用户登陆后用户名信息 -->
                                    <a class="navbar-brand "><img class="img-responsive img-circle center-block" style="position:relative;top:-14px;width: 34px;height: 34px;" src="{% static 'img/my_photo.jpg' %}" alt="图标"/></a>
                                    <a class="label">{{ username }}</a>
                                    <a class="btn btn-info nav-btn" href="{% url 'teacher_center' %}">管理中心</a>
                                    <a class="btn btn-danger nav-btn" href="{% url 'logout' %}">注销</a>
                                </div>
                            </div>
                        </form>
            {% endifequal %}
                <ul class="nav navbar-nav">

                    <li><a href="../../">首页</a></li>
                    <li class="active"><a href="./">积分榜</a></li>
                    <li><a href="../../inform">学院通知</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">获奖<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../../award/competition">竞赛</a></li>
                            <li><a href="../../award/paper">论文</a></li>
                            <li><a href="../../award/patent">专利</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

{#    <div class="container">#}
{#      <ul class="nav nav-tabs ">#}
{#        <li role="presentation" class="active"><a href="..\all" ><b>总积分</b></a></li>#}
{#        <li role="presentation"><a href="..\competition" >竞赛积分</a></li>#}
{#        <li role="presentation"><a href="..\paper" >论文积分</a></li>#}
{#        <li role="presentation"><a href="..\patent" >专利积分</a></li>#}
{#        <li role="presentation"><a href="..\scholarship" >奖学金积分</a></li>#}
{#        <li role="presentation"><a href="..\experience" >社会经历积分</a></li>#}
{#      </ul>#}
{#    </div>#}

    <div class="container-fluid">

        <div class="row placeholders">
            <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
                <br>
                <h1 class="page-header">武林门派<small>排行榜</small></h1>
            <div class="col-xs-3 col-sm-3 placeholder " >
                <a id="all" href="../all">
                    <img src="{% static 'img/总计.png' %}" width="250" height="250" class="img-responsive " alt="Generic placeholder thumbnail">
                    <h4>华山派</h4>
                </a>
                <span class="text-muted">总积分排名</span>
            </div>

            <div class="col-xs-3 col-sm-3 placeholder">
                <a id="competition" href="../competition">
                <img src="{% static 'img/奖杯.png' %}" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>少林派</h4>
                </a>
                <span class="text-muted">竞赛排行榜</span>
            </div>
            <div class="col-xs-3 col-sm-3 placeholder">
                <a id="paper" href="../paper">
                <img src="{% static 'img/论文（导）.png' %}" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>崆峒派</h4>
                </a>
                <span class="text-muted">论文排行榜</span>
            </div>
            <div class="col-xs-3 col-sm-3 placeholder">
                <a id="patent" href="../patent">
                <img src="{% static 'img/专利 (1).png' %}" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>昆仑派</h4>
                </a>
                <span class="text-muted">专利排行榜</span>
            </div>
            <div class="col-xs-3 col-sm-3 placeholder">
                <a id="scholarship" href="../scholarship">
                <img src="{% static 'img/奖学金.png' %}" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>峨眉派</h4>
                </a>
                <span class="text-muted">奖学金排行榜</span>
            </div>
            <div class="col-xs-3 col-sm-3 placeholder">
                <a id="experience" href="../experience">
                <img src="{% static 'img/社会经历.png' %}" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>武当派</h4>
                <span class="text-muted">社会经历排行榜</span>
                </a>
            </div>
            </div>
        </div>
    </div>
    <div class ="row">
    <div class = "col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
        <h1 class="page-header">{{ score_type }}</h1>

        <table id="score_table" class="display table table-hover" cellspacing="0" width="100%" >
            <thead>
                <tr>
                    <th>ranking<small>（点击排序）</small></th>
                    <th>name<small>（点击排序）</small></th>
                    <th>score<small>（点击排序）</small></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>名次</th>
                    <th>姓名(昵称)</th>
                    <th>积分</th>
                </tr>
            </tfoot>
            <tbody id = "score_content">
            {% for name,score,times in message %}
                <tr>
                    <td>{{ times }}</td>
                    <td>{{ name }}</td>
                    <td>{{ score }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
    </div>



    <footer>
      <div id="footer" style="text-align:center">
        <p> 西安交通大学荣誉墙 版权所有 Copyright © 2004-2016 All Rights Reserved</p>
        <p>(推荐使用Chrome、Firefox、IE9.0以上版本浏览器进行访问）</p>
      </div>
    </footer>

    <!-- JS引入 -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/score.js' %}"></script>

</body>
</html>