<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>西安交通大学荣誉墙</title>
{% load static %}
<!-- Bootstrap -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">


</head>
<body>

 <!-- 导航栏 反色(底部黑字体白) 固定在顶部  过窄的时候折叠不可见(设定bodypadding-top为70px了) -->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse">
        <div class="container">
            <!-- navbar-header内部放置<a>标签 -->
            <div class="navbar-header">
                <a class="navbar-brand" href="..\..\"> <img src="/Users/mac/Desktop/前端练习/大作业/视觉4/picture_suilin/4.jpg" alt="这里是图片" style="width:40px;height:30px;margin-top:-4px"></a>
                <a class="navbar-brand" href="..\..\">荣誉墙</a>
                <!--按钮小于768px时才会显示  -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-nav" aria-expanded="false" aria-controls="navbar-nav">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar-nav" class="navbar-collapse collapse">
                {% ifequal user_type -1 %}
                <!-- 登录前 -->
                  <form class="navbar-form navbar-right">
                      <div class="form-group">
                        <label class="control-label sr-only" ></label>
                        <a  class="btn btn-success nav-btn" href="{% url 'login' %}">学生登录</a>
                        <a  class="btn btn-success nav-btn" >教师登录</a>
                      </div>
                  </form>
                {% endifequal %}
                <!-- 登陆后 -->

                {% ifequal user_type 0 %}
                    <!--学生登录后  -->
                        <form  class="navbar-form navbar-right">
                            <div class="form-group">
                                <div>
                                    <!-- 用户登陆后用户名信息 -->
                                    <a class="navbar-brand "><img class="img-responsive img-circle center-block" style="position:relative;top:-14px;width: 34px;height: 34px;" src="{% static 'img/my_photo2.jpg' %}" alt="图标"/></a>
                                    <a class="label">{{ username }}</a>
                                    <a class="btn btn-info nav-btn" href="{% url 'student_center' %}">个人中心</a>
                                    <a class="btn btn-info nav-btn" href="{% url 'student_center_honor' %}">我的荣誉</a>
                                    <a class="btn btn-danger nav-btn" href="{% url 'logout' %}">注销</a>
                                </div>
                            </div>
                        </form>


                {% endifequal %}
            {% ifequal user_type 1 %}
                <!--老师登陆后  -->
                        <form  class="navbar-form navbar-right">
                            <div class="form-group">
                                <div>
                                    <!-- 用户登陆后用户名信息 -->
                                    <a class="navbar-brand "><img class="img-responsive img-circle center-block" style="position:relative;top:-14px;width: 34px;height: 34px;" src="{% static 'img/my_photo.jpg' %}" alt="图标"/></a>
                                    <a class="label">{{ username }}</a>
                                    <a class="btn btn-info nav-btn" href="{% url 'teacher_center' %}">管理中心</a>
                                    <a class="btn btn-danger nav-btn" href="{% url 'logout' %}">注销</a>
                                </div>
                            </div>
                        </form>
            {% endifequal %}
                <ul class="nav navbar-nav">
                    <li><a href="..\..\">首页</a></li>
                    <li><a href="..\..\score/all">积分榜</a></li>
                    <li><a href="..\..\inform">学院通知</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">获奖<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="..\..\award/competition">竞赛</a></li>
                            <li><a href="..\..\award/paper">论文</a></li>
                            <li><a href="..\..\award/patent">专利</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        <div class="page-header">
            <br>
          <h1>竞赛获奖名单 </h1>
        </div>
        <div class="container-fluid">

            {% for competition_name,person_award_list in contacts %}
            <div class="jumbotron col-md-5 col-md-offset-1">
                      <h4>{{ competition_name }}<br><small>2017年度</small></h4><br>
                      <h5><a class="btn btn-primary"  role="button" data-toggle="collapse" href="#cid{{ competition_name }}" role="button" aria-expanded="false" aria-controls="cid{{ competition_name }}">查看详情</a></h5>
            <div class="collapse" id="cid{{ competition_name }}">
            {% ifequal person_award_list blank_list %}
            暂未有审核通过的数据哦~
            {% endifequal %}


                {% for award,person_list in person_award_list %}
                      <p><span class="label label-default">{{ award }}</span>：{% for person in person_list %}
                      {{ person}},
                      {% endfor %}
                      </p><br>
                {% endfor %}
            </div>
            </div>
            {% endfor %}


        </div>

        <div id="pagin" style="text-align:center;">
            <p>当前第{{ page }}页</p>
            <ul class="pagination">
                {% if contacts.has_previous %}
                <li>
                  <a href="../inform{{ contacts.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}

                {% for i in paper_list %}
                <li{% ifequal i page%} class="active"{% endifequal %}><a href="../competition{{ i }}">{{ i }}</a></li>
                {% endfor %}


                {% if contacts.has_next %}
                <li>
                  <a href="../inform{{ contacts.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <footer>
      <div id="footer" style="text-align:center">
        <p> 西安交通大学荣誉墙 版权所有 Copyright © 2004-2016 All Rights Reserved</p>
        <p>(推荐使用Chrome、Firefox、IE9.0以上版本浏览器进行访问）</p>
      </div>
    </footer>

    <!-- JS引入 -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>