<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>西安交通大学荣誉墙</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.css' %}" rel="stylesheet">

    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.js' %}"></script>
    <![endif]-->
</head>
<body class="container">
<!--<header class="page-header">-->
<!-- <h1>个人中心<small>Student Center</small></h1>-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">学生个人中心<small>Student Center</small></a>

        </div>
        <div id="navbar" class="navbar-collapse collapse ">
            <form class="navbar-form  navbar-right hidden-xs">
                    <a>欢迎：{{ userrelname }}</a>
                    <a type="button" id="backToFront" class="btn btn-info nav-btn" href="{% url 'index' %}">返回主页</a>
                    <a type="button" id="student_center" class="btn btn-info nav-btn"  disabled="disabled">我的个人中心</a>
                    <a type="button" id="myHonorWall" class="btn btn-info nav-btn" href="{% url 'student_center_honorwall' %}">我的荣誉墙</a>
                    <a type="button" id="logout" class="btn btn-danger nav-btn" href="{% url 'logout' %}">注销</a>
            </form>
                <ul class="nav navbar-nav hidden-lg hidden-md hidden-sm">
                    <li><a>欢迎：{{ userrelname }}</a></li>
                    <li><a href="{% url 'student_center' %}">基本信息</a></li>
                    <li><a href="{% url 'student_center_honor' %}">荣誉</a></li>
                    <li><a href="{% url 'student_center_resume' %}">简历生成</a></li>
                    <li><a href="{% url 'student_center_recommendation' %}">申请推荐信</a></li>
                    <li><a href="{% url 'student_center_checking' %}">审核</a></li>
                    <li class="active"><a href="">审核状态<span class="sr-only">(current)</span></a></li>
                    <li><a href="{% url 'student_center_settings' %}">设置</a></li>
                    <li><a href="./my_honorwall/1/">我的荣誉墙</a></li>
                    <li><a href="{% url 'index' %}">返回主页</a></li>
                    <li><a href="{% url 'logout' %}">注销</a></li>
                </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'student_center' %}">基本信息</a></li>
                <li><a href="{% url 'student_center_honor' %}">荣誉</a></li>
                <li><a href="{% url 'student_center_resume' %}">简历生成</a></li>
                <li><a href="{% url 'student_center_recommendation' %}">申请推荐信</a></li>
                <li><a href="{% url 'student_center_checking' %}">审核</a></li>
                <li class="active"><a href="">审核状态<span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'student_center_settings' %}">设置</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">审核状态</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>荣誉编号</th>
                        <th>荣誉名称</th>
                        <th>获得时间</th>
                        <th>提交时间</th>
                        <th>审核状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elem in result %}
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer class="text-center">
    <span>西安交通大学网络安全实验室 All rights reserved &copy:2017</span>
</footer>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>